{% extends "basic_app/base.html" %}
{% load static %}
{% block content %}
<nav>
      <nav class="navbar navbar-dark navbar-expand-md fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>

            </button>
            <a class="navbar-brand mr-auto" href="{% url 'index' %}"><img src="{% static 'images/logo3.png' %}" height="30" width="41"></a>
            <div class="collapse navbar-collapse" id="Navbar">


            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}"><span class="fa fa-home fa-lg"></span> Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'basic_app:about' %}"><span class="fa fa-info fa-lg"></span> About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'basic_app:discuss' %}"><span class="fa fa-users fa-lg"></span> Discuss</a></li>
                <li class="nav-item">
                  <div class="dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><span class="fa fa-list fa-lg"></span> Self-Help</a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a class="dropdown-item" href="{% url 'basic_app:articles' %}">Articles</a></li>
                      <li><a class="dropdown-item" href="{% url 'basic_app:meditation' %}">Meditation</a></li>
                      <li><a class="dropdown-item" href="{% url 'basic_app:quiz' %}">Quiz</a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'basic_app:contact' %}"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>

            </ul>
            {% if user.is_authenticated %}
            <span class="navbar-text">
                <a href="{% url 'accounts:logout' %}" id="logoutButton">
                    <span class="fa fa-sign-in"></span> Logout
                </a>
            </span>
            {% else %}
            <span class="navbar-text">
                <a href="{% url 'accounts:login' %}" id="loginButton">
                    <span class="fa fa-sign-in"></span> Login
                </a>
            </span>
            {% endif %}
        </div>
        </div>
      </nav>
  </nav>


  <header class="jumbotron vertical-center header">
       <div class="container">
           <div class="row row-header">
             <div class="col-12 col-sm-4 align-self-center">
                 <div class="text-center">
                 <img src="{% static 'images/logo2.png' %}" class="img-fluid rounded-circle" id="logo">
                </div>
              </div>
               <div class="col-12 col-sm-8 header-text">
                   <h1>Cessabit</h1>
                   <p>We provide help related to mental health problems for free of cost. You can discuss your problem through our "Discuss" section and if you want to feel better on your own, use our "Self-Help" section to explore different articles, meditation and quizes. We hope you feel better after exploring our website!</p>
               </div>
           </div>
       </div>
   </header>

   <div class="container">
        <div class="row row-content align-items-center">
          <div class="col-12 col-sm-3">
            <img class="d-flex mr-3 img-thumbnail align-self-center"
            src="{% static 'images/discuss.png' %}" alt="discuss">
          </div>
            <div class="col-12 order-first col-sm-6 order-sm-last">
              <div class="media-body">
                  <h2 class="mt-0">Discuss Your Problems</h2>
                  <p  class="d-none d-sm-block">Discussing problems is a good way to solve them. If you would like to discuss your problems with us, feel free to fill up the form. We'll get back to you with an appropriate solution as soon as possbile. </p>
              </div>
            </div>
            <div class="col-12 col-sm-3 order-last">
                <a  href="{% url 'basic_app:discuss' %}" class="btn btn-warning btn-block">Discuss</a>
            </div>
        </div>
        <br><br>

        <div class="row row-content align-items-center">
          <div class="col-12 col-sm-3">
            <img class="d-flex mr-3 img-thumbnail align-self-center read"
            src="{% static 'images/read.jpg' %}" alt="discuss">
          </div>
            <div class="col-12 order-first col-sm-6 order-sm-last">
              <div class="media-body">
                  <h2 class="mt-0">Help Yourself by Reading Articles</h2>
                  <p  class="d-none d-sm-block">We provide different articles to deal with mental health issues. Articles are categorized into different sections based upon the age groups. You can also write an article to share with the world or read aricles shared by other users. </p>
              </div>
            </div>
            <div class="col-12 col-sm-3 order-last">
                <a  href="{% url 'basic_app:articles' %}" class="btn btn-warning btn-block">Read</a>
            </div>
        </div>
        <br><br>

        <div class="row row-content align-items-center">
          <div class="col-12 col-sm-3">
            <img class="d-flex mr-3 img-thumbnail align-self-center"
            src="{% static 'images/meditate.jpg' %}" alt="discuss">
          </div>
            <div class="col-12 order-first col-sm-6 order-sm-last">
              <div class="media-body">
                  <h2 class="mt-0">Wanna Relax your Mind?</h2>
                  <p  class="d-none d-sm-block">Meditation is a vital way to purify and quiet the mind, thus rejuvenating the body. We have linked some of the best meditational videos to relax your mind which you can do anytime and anywhere.</p>
              </div>
            </div>
            <div class="col-12 col-sm-3 order-last">
                <a  href="{% url 'basic_app:meditation' %}" class="btn btn-warning btn-block">Meditate</a>
            </div>
        </div>
        <br><br>

        <div class="row row-content align-items-center">
          <div class="col-12 col-sm-3">
            <img class="d-flex mr-3 img-thumbnail align-self-center quiz"
            src="{% static 'images/quiz.png' %}" alt="discuss">
          </div>
            <div class="col-12 order-first col-sm-6 order-sm-last">
              <div class="media-body">
                  <h2 class="mt-0">Examine Your Mind</h2>
                  <p  class="d-none d-sm-block">Sometimes it is difficult to analyse what you're going through. To overcome this problem, we are providing you quizzes to check the level of stress, depression and anxiety of your mind.</p>
              </div>
            </div>
            <div class="col-12 col-sm-3 order-last">
                <a  href="{% url 'basic_app:quiz' %}" class="btn btn-warning btn-block">Take a quiz</a>
            </div>
        </div>
        <br><br>

        <br><br>

    </div>
{% endblock %}
